<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"><title>Raptors Republic - Morning Coffee</title>
<meta charset="UTF-8">
    <meta content='text/html; charset=UTF-8' name='Content-Type'/>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    $(function() {
  //      $('.collapse').collapse()
        $( ".sortable" ).sortable();
        $( ".sortable" ).disableSelection();
        $("#toggle").click(function() {
            var checkBoxes = $(".link-checkbox");
            checkBoxes.prop("checked", !checkBoxes.prop("checked"));    
        });
        $('.uncheck-below').click(function(e) {
            var uncheck = false;
            $('.uncheck-below').each(function(i, elem) {
                if (uncheck) {
                    $(elem).closest('div.row').find('.link-checkbox').prop('checked', false);
                }
                if (e.target == elem) {
                    uncheck = true;
                } 
            });
            return false;
        });
        $('.check-above').click(function(e) {
            var check = true;
            $('.check-above').each(function(i, elem) {
                if (check) {
                    $(elem).closest('div.row').find('.link-checkbox').prop('checked', true);
                }
                if (e.target == elem) {
                    check = false;
                } 
            });
            return false;
        });
        $('.move-to-top').click(function(e) {
            var detached = $(e.target).closest('div.row').detach();
            $('div.sortable').prepend(detached);
            return false;
        });
    });
</script>
<style>
.sortable .glyphicon-th-list {
    font-size: 1.2em;
}
.sortable .glyphicon-th-list:hover {
    cursor: move;    
}
</style>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-9">
<form action="/create-draft" method="post">
<h4>Feed Items</h4>
<p>
<input class="btn btn-primary" type="submit" value="Create Draft in Wordpress"/>
</p>
<div class="row">
<div class="col-md-1" style="text-align:center">
    <input checked type="checkbox" name="toggle" id="toggle"/>
</div>
<div class="col-md-11">
</div>
</div>
<div class="sortable">
{% for item in items %}
<div class="row">
<div class="col-md-1" style="text-align:center">
    <input class="link-checkbox" type="checkbox" name="links" checked value="{{ item.id }}"/>
</div>
<div class="col-md-1" style="text-align:center">
    <a href="#" class="check-above">Check above</a>
</div>    
<div class="col-md-1" style="text-align:center">
        <a href="#" class="uncheck-below">Uncheck below</a>
</div>    
<div class="col-md-1" style="text-align:center">
    <a href="#" class="move-to-top">Move to top</a>
</div>    
<div class="col-md-1">
<span class="glyphicon glyphicon-th-list"></span>
</div>
<div class="col-md-7">
    <p>   
    <small>{{ item.time.strftime('%a %I:%M %p') }} - <a href="{{item.url}}" target="_blank">{{ item.get_domain() }}</a></small><br/>     
    <a data-target="#{{item.id}}" data-toggle="collapse" onclick="return false" href="#">{{item.title}}</a>
    </p>
    <div class="well collapse in" id="{{item.id}}">
        {{item.description}}
    </div>
</div>
</div>
{% endfor %}
</div>
</form>
</div>
<div class="col-md-3">
</div>
</div>
</div>

</body>
</html>


